:host {
  font-family: var(--font-family);

  section {
    display: var(--card-display);
    grid-template-rows: var(--card-grid-rows);
    padding: var(--card-padding, 0);
    min-height: var(--card-min-height);
    height: var(--card-height);  
    width: var(--card-width);
    background-color: var(--card-bg-color);
    box-shadow: var(--card-box-shadow);
    border-radius: var(--card-border-radius);
    border: var(--card-border);
    border-color: var(--card-border-color);
    overflow: var(--card-overflow);
    transition: var(--card-transition);
    transform: var(--card-transform);
    
    &:hover { 
      border: var(--card-border-hover, var(--card-border));
      border-color: var(--card-border-hover-color, var(--card-border-color));
    }
  }
}