:host {
  li-card {
    --card-min-height: var(--ps-pages-min-height, auto);
    --card-height: var(
      --ps-pages-height, 
      var(--ps-pages-min-height, auto)
    );

    li-header {
      --header-border-style: none;
      --header-align-items: center;
      --header-padding: 10px;
      --header-columns: 95% auto;
    }

    li-content {
      .ps-pages-content {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-items: center;
        align-items: center;
        padding: 20px;
        row-gap: 30px;
        column-gap: 30px;
      }
    }
  }
}