:host {
  --ps-launch-results-left-space: 200px;
  --ps-launch-host-section-display: grid;

  li-layout {
    --layour-row-gap: 20px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li-header {
      --header-border-style: none none solid none;
      --header-border: 1px solid;
      --header-border-color: #ccc;
      --header-height: auto;

      search-input {
        --search-input-justify-items: center;
        --search-input-width: 80%;
      }

      &::part(header) {
        row-gap: 50px;
      }

      > div {
        display: grid;
        grid-template-columns: var(--ps-launch-results-left-space) 1fr;
      }

      ul {
        display: flex;
        column-gap: 20px;

        li {
          padding: 5px;
          cursor: pointer;

          &.active {            
            color: #1a73e8;
            border-bottom: 3px solid #1a73e8;
          }
        }
      }
    }

    li-content {
      > section {
        grid-template-columns: 55% 1fr;

        section:first-child {
          display: grid;
          grid-template-columns: var(--ps-launch-results-left-space) 1fr;

          > div {
            display: grid;
            row-gap: 30px;
          }
        }
      }
    }

    li-footer {
      --footer-border-style: none;
    }
  }
}

:host([active=documents]) {
  .ps-results-content > *:not(ps-launch-documents) {
    --ps-launch-host-section-display: none;    
  }

  li-layout li-content > section section:first-child > div {
    row-gap: 20px;   
  }
}

:host([active=people]) {
  .ps-results-content > *:not(ps-launch-people) {
    --ps-launch-host-section-display: none;    
  }

  ps-launch-people {
    --ps-launch-section-footer: none;

    ::ng-deep .ps-launch-section {
      li-footer {
        --footer-display: grid;
      }
    }
  }
}

:host([active=pages]) {
  .ps-results-content > *:not(ps-launch-pages) {
    --ps-launch-host-section-display: none;    
  }
}

:host([active=deal]) {
  .ps-results-content > *:not(ps-launch-deals) {
    --ps-launch-host-section-display: none;    
  }
}

:host([active=deal]) {
  .ps-results-content > *:not(ps-launch-deal) {
    --ps-launch-host-section-display: none;    
  }
}

:host([active=multimedia]) {
  .ps-results-content > *:not(ps-launch-multimedia) {
    --ps-launch-host-section-display: none;    
  }

  ps-launch-multimedia {
    --ps-launch-section-footer: none;
  }
}