:host {
  --ps-focus-min-height: 80vh;

  --card-border: 1px solid;
  --card-box-shadow: 0 1px 5px 1px #dce7f6;
  --card-border-color: #cccccc;

  --footer-border-style: none;

  li-layout {
    --layour-row-gap: 10px;

    li-header {
      --header-border-style: none;
      --header-height: auto;
      
      div:last-child {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      ul {
        display: grid; 
        grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));     
        column-gap: 20px;
        list-style: none;
        padding: 0;

        li {
          width: 100%;
          border: 1px solid;
          border-radius: 8px;
          padding: 5px;
          cursor: pointer;
          text-align: center;

          &.active,
          &:hover {
            background-color: #2196F3;
            color: #fff;
          } 
        }
      }
    }

    li-content {
      --content-padding: 0;
  
      > section {
        display: grid;
        grid-template-columns: var(--ps-section-columns, 60% auto);
        transition: 500ms;
        column-gap: 30px;

        ps-documents,
        ps-people,
        ps-mydeal,
        ps-pages,
        ps-multimedia {
          transition: opacity 0.5s ease-in-out;
        }

        > section {
          display: flex;
          flex-direction: column;
          row-gap: 30px;
        }
      }
    }
  }
}

:host([active=people]), 
:host([active=deal]), 
:host([active=multimedia]) {
  .ps-content {
    --ps-section-columns: 0% 95%;
  }
}

:host([active=pages]),
:host([active=documents]) {
  --ps-section-columns: 100% 0%;
}

:host([active=documents]) {
  .ps-content {
    --ps-documents-min-height: var(--ps-focus-min-height);

    section:last-child {
      display: none !important;
    }

    ps-people,
    ps-mydeal,
    ps-multimedia,
    ps-pages {
      opacity: 0;
      visibility: hidden;
    }

    ps-pages {
      display: none;
    }
  }  
}

:host([active=pages]) {
  .ps-content {
    --ps-pages-min-height: var(--ps-focus-min-height);
    
    ps-documents,
    ps-mydeal,
    ps-people,
    ps-multimedia {
      opacity: 0;
      visibility: hidden;
    }

    ps-documents {
      display: none;
    }

    section:first-child {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 0% 100%;
    }

    section:last-child {
      display: none !important;
    }
  }
}

:host([active=people]) {
  .ps-content {
    --ps-people-item-display: flex;
    --ps-people-item-flex-direction: row-reverse;
    --ps-people-item-gap: 20px;
    --ps-people-item-align-items: center;
    --ps-people-item-rows: 1fr;
    --ps-people-item-columns: 1fr auto;
    --ps-people-position-display: grid;
    --ps-people-content-display: flex;
    --ps-people-min-height: var(--ps-focus-height);

    ps-documents,
    ps-mydeal,
    ps-multimedia,
    ps-pages {
      opacity: 0;
      visibility: hidden;
    }

    ps-pages {
      display: none;
    }
  }  
}

:host([active=deal]) {
  .ps-content {
    --ps-mydeal-min-height: var(--ps-focus-min-height);

    ps-documents,
    ps-people,
    ps-multimedia,
    ps-pages {
      opacity: 0;
      visibility: hidden;
    }

    ps-pages {
      display: none !important;
    }

    section:last-child {
      display: grid !important;
      grid-template-columns: 0% 100% 0% !important;
    }
  }  
}

:host([active=multimedia]) {
  .ps-content {
    --ps-multimedia-min-height: var(--ps-focus-min-height);

    ps-documents,
    ps-mydeal,
    ps-people,
    ps-pages {
      opacity: 0;
      visibility: hidden;
    }

    section:last-child {
      display: grid !important;
      grid-template-columns: 0% 0% 100% !important;
    }

    ps-pages {
      display: none;
    }
  }
}