:host {
  --card-border: 1px solid;
  --card-box-shadow: 0 1px 5px 1px #dce7f6;
  --card-border-color: #cccccc;

  --footer-border-style: none;

  li-layout {
    --layour-row-gap: 10px;

    li-header {
      --header-border-style: none;
      --header-height: auto;
      
      ul {
        display: flex;
        column-gap: 10px;
        list-style: none;
        padding: 0;

        li {
          width: fit-content;
          border: 1px solid;
          border-radius: 8px;
          padding: 5px;
          cursor: pointer;
        }
      }
    }

    li-content {
      --content-padding: 0;
  
      > section {
        display: grid;
        grid-template-columns: var(--ps-section-columns, 60% auto);
        transition: var(--ps-section-transition, 500ms);
        column-gap: 30px;

        section:first-child {
          display: flex;
          flex-direction: column;
          row-gap: 30px;
        }

        section:last-child {
          display: flex;
          flex-direction: column;
          row-gap: 30px;
        }
      }
    }
  }

  .documents {
    --ps-section-columns: 80% auto;

    ps-mydeal {
      --ps-mydeal-item-colums: 1fr;
      --ps-mydeal-item-border: 1px solid var(--ps-border-color);
      --ps-mydeal-item-padding: 10px;
      --ps-mydeal-item-height: 100px;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .column-60 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .column-gap {
    row-gap: 30px;
  }
}