:host {
  li-card {
    --card-height: 200px;
    --card-min-height: 200px;
    --card-transition: transform 0.3s ease-in-out;
    
    li-header {
      --header-border-style: none;
      --header-align-items: center;
      --header-padding: 10px;
    }
  }

  .zoom-in-out {
    //--card-transform: translate(-50%, 10%) scale(1.2);
    --card-transform: translate(-70%, 0%) scale(1.2);
    --card-height: 50vh;
    --card-min-height: 50vh;
    --card-width: 50vw;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: var(--ps-people-opacity);
    visibility: var(--ps-people-visibility, hidden);
    transition: opacity 0.3s ease-in-out;
  }

  .overlay.active {
    --ps-people-opacity: 1;
    --ps-people-visibility: visible;
  }

}