:host {
  --search-input-height: 30px;
  font-family: var(--font-family);

  .search-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: var(--search-input-justify-items);
  }

  .search {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 10px;
    height: var(--search-input-height);
    width: var(--search-input-width);
    padding: 5px 10px 12px 20px;
    border: 4px solid var(--search-input-border-color, #D5D5D5);
    border-radius: 100px;

    &--icon {
      width: fit-content;
      align-self: flex-end;
      align-items: center;

      svg {
        width: 25px;
        height: 23px;
    
        path {
          fill: #0073cf;
        }
      }
    }

    &--input {
      border: none;
      font-size: 16px;
      height: 29px;
      align-self: flex-end;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #D5D5D5;
        opacity: 1; 
      }
      
      &::-ms-input-placeholder { /* Edge 12-18 */
        color: #D5D5D5;
      }
    }

    &--button {
      display: grid;
      grid-template-columns: auto 1fr; 
      align-items: center;
      column-gap: 10px;

      &--clear {
        background: transparent;
        border: none;
        font-size: 20px;
        color: gray;
        display: grid;
        cursor: pointer;

        svg {
          width: 20px;
          height: 20px;
          path {
            fill: #646464;
          }
        }
      }

      &--search {
        background-color: #0073cf;
        color: #fff;
        border-radius: 20px;
        border-color: transparent;
        height: 35px;
        padding: 5px;
        padding-left: 15px;
        
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        column-gap: 10px;
        cursor: pointer;

        &:hover {
          background-color: #0052c2;
        }

        svg {
          width: 20px;
          height: 20px;

          path {
            fill: #fff;
          }
        }

        .search-text {
          justify-self: flex-start;
        }
      }
    }
  }
}